@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&family=Montserrat:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100vw;
}
:root {
  @apply bg-ash-900 overflow-x-hidden;
}
body {
  overflow-x: hidden;
}
h1 {
  @apply font-display font-bold text-7xl lg:text-8xl xl:text-9xl text-white;
}

h2 {
  @apply font-sans text-white;
}
h3 {
  @apply text-gray-400;
}
span {
  @apply mb-3;
}
button {
  @apply py-1 px-2 text-white flex gap-2 items-center border border-white rounded-full hover:bg-white hover:text-ash-900 hover:gap-4 transition-all ease-out;
}
.svg-grid {
  @apply absolute  md:right-0 -z-10 opacity-10 md:opacity-100 overflow-x-hidden;
}
.svg-row {
  @apply flex object-contain;
}

.circle {
  @apply sm:h-40 sm:w-40 xl:h-60 xl:w-60;
}
.svg-object {
  transform-origin: 50% 50%;
  transform: rotate(180deg);
}

.clock-wise {
  animation: rotate-circle-clock 60s linear infinite;
}
.anti-clock-wise {
  animation: rotate-circle-anti-clock 60s linear infinite;
}

@keyframes rotate-circle-clock {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes rotate-circle-anti-clock {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.noise {
  transition: all ease-out;
}

::-webkit-scrollbar {
  display: none;
}

.about-cards {
  @apply h-full w-full bg-ash-500 rounded-3xl bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-20 border border-gray-100;
}
.sine-container {
  animation: moving 15s linear infinite;
}

@keyframes moving {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.about-text {
  @apply text-4xl xl:text-6xl font-medium;
}

.streamer-text {
  @apply flex items-center whitespace-nowrap md:text-3xl;
}

.streamer-container1 {
  @apply flex float-left text-white overflow-x-hidden;
}

.streamer-container2 {
  @apply flex float-right text-white overflow-x-hidden;
}
