@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&family=Montserrat:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
:root {
  @apply bg-ash-900 overflow-x-hidden;
}
h1 {
  @apply font-display font-bold text-8xl xl:text-9xl text-white;
}

h2 {
  @apply font-sans text-white;
}
.svg-grid {
  @apply absolute right-0 object-contain;
}
.svg-row {
  @apply flex object-contain;
}

.circle {
  @apply sm:h-40 sm:w-40 xl:h-60 xl:w-60;
}
.svg-object {
  transform-origin: 50% 50%;
  transform: rotate(180deg);
}

.clock-wise {
  animation: rotate-circle-clock 60s linear infinite;
}
.anti-clock-wise {
  animation: rotate-circle-anti-clock 30s linear infinite;
}

@keyframes rotate-circle-clock {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes rotate-circle-anti-clock {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.noise {
  transition: all ease-out;
}

::-webkit-scrollbar {
  display: none;
}

.about-cards {
  @apply h-full w-full bg-ash-500 rounded-3xl bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-20 border border-gray-100;
}
.sine-container {
  animation: moving 15s linear infinite;
}

@keyframes moving {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
