@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&family=Montserrat:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
:root {
  @apply bg-ash-900 overflow-x-hidden;
}
h1 {
  @apply font-display font-bold text-8xl xl:text-9xl text-white;
}

h2 {
  @apply font-sans text-white;
}
.svg-grid {
  @apply absolute right-0 object-contain;
}
.svg-row {
  @apply flex object-contain;
}

.circle {
  @apply sm:h-40 sm:w-40 xl:h-60 xl:w-60;
}
.svg-object {
  transform-origin: 50% 50%;
  transform: rotate(180deg);
  transition: all ease-out;
}

.noise {
  transition: all ease-out;
}
